.bg-img1 {
  background-color: #000;
  background-size: cover;
  background-image: url("morning_by_various78_dfefm6l.jpg");
  height: 750px;
}

.bg-img2 {
  background-color: #000;
  background-size: cover;
  background-image: url("our_village_by_various78_dfed0p7.jpg");
  height: 750px;
}

.bg-img3 {
  background-color: #000;
  background-size: cover;
  background-image: url("our_village__2_by_various78_dfehb89.jpg");
  height: 750px;
}
